body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
.topright{
  position: absolute;
    top: 8px;
    right: 16px;
}

table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}
#School{
  border-top: 5px solid #f1dc4f;
  /*background-image: url(universite.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;*/
}
#ongletEntreprise:hover{
  border-top: 5px solid #4c8;
  background-color: RGBa(64,200,130,0.15);
}
#ongletInternationale:hover{
  border-top: 5px solid #f1dc4f;
  background-color: RGBa(241,211,79,0.15);
}
#ongletReservation:hover{
  border-top: 5px solid #0070bb;
  background-color: RGBa(000,112,192,0.15);
}
#ongletContact:hover{
  border-top: 5px solid #4c8;
  background-color: RGBa(228,77,38,0.15);
}
#Company{
  border-top: 5px solid #0070bb;
  background-color: RGBa(000,112,192,0.15);

}
th,tr,td {
  background-color: #42b983;
  cursor: pointer;
}
tr,td {
  min-width: 120px;
  padding: 10px 20px;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}




a:visited{
  color : blue;
}
.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

h1{
  text-align: center;
  font-size: 20px;
}
p{
  color: black;
}

img{
  max-height: 300px;
  max-width: 200px;
}

.menu{
  text-color: red;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  margin-left: 20%;
  max-height: : 50px
}
.onglet{
  margin: auto;
  border:2px solid;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  display: inline-block;
  text-decoration: none;
  margin-left: 25px;
  text-align: center;

}

li{
  display: inline-block;
}

body{
	background-image:url(Background.jpg);
}



.form{
  font-size: 20px;
  text-align: center;
	margin-left: 0px;
}


.pad{
	padding-left: 5px;
	padding-right: 5px;
}

.pad2{
	padding-left: 60px;
	padding-right: 60px;
}

.tab{
	background: white;
	width: 600px;
}

.text{
	line-height:10px;
	width: 800px;
}

.image{
	width: 400px;
  height: 400px;
  padding-right: 50px;
}
#boutton1{
  width: auto;
  background-color: green;
  font-size: 20px;

}
#boutton2{
  width: auto;
 background-color: red;
 font-size: 20px;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=image]{
  position: absolute;
  top : 20px;
  right: 10px;
}
#promotion, #event{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;}

  input[type=text]{
  width:100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}

input[type=text]:focus{
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type=text]{
  padding-left:40px;
}

.inputWithIcon{
  position:relative;
}

.inputWithIcon i{
  position:absolute;
  left:0;
  top:35px;
  padding:9px 8px;
  color:#aaa;
  transition:.3s;
}

.inputWithIcon input[type=text]:focus + i{
  color:dodgerBlue;
}

.inputWithIcon.inputIconBg i{
  background-color:#aaa;
  color:#fff;
  padding:9px 4px;
  border-radius:4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type=text]:focus + i{
  color:#fff;
  background-color:dodgerBlue;
}
